.register-form {
  max-width: 400px;
  width: 100%;
  margin: 8px;
  padding: 24px;
  border-radius: 6px;
  margin: 0 auto;
  .message {
    font-size: 14px;
    color: rgb(182, 2, 2);
    text-align: center;
  }

  input {
    width: 100%;
    padding: 12px 0 6px 0;
    margin: 6px 0;
    font-size: 16px;
    border-bottom: 1px solid #c9c9c9;
  }

  button {
    display: flex;
    justify-content: center;
    margin: 24px auto;
    padding: 10px;
    width: 172px;
    border-radius: 25px;
    background: #c9c9c9;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    span {
      font-weight: 500;
    }
  }
}
