.register-form{
    max-width: 400px;
    width: 100%;
    margin: 8px;
    border-radius: 6px;
    margin: 0 auto;
    .message {
        font-size: 14px;
        color: rgb(182, 2, 2);
        text-align: center;
      }
}